In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-01-13 23:34:39,-24.8667,113.6333,77.00,94,55,12.66
1,1,Aklavik,CA,2021-01-13 23:34:40,68.2191,-135.0107,-14.80,76,100,1.14
2,2,Zemen,BG,2021-01-13 23:34:40,42.4789,22.7492,32.00,80,75,12.66
3,3,Port-Cartier,CA,2021-01-13 23:34:40,50.0334,-66.8654,24.80,80,100,3.44
4,4,Tual,ID,2021-01-13 23:34:40,-5.6667,132.7500,84.51,75,100,11.72

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df [["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10).dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-01-13 23:34:39,-24.8667,113.6333,77.00,94,55,12.66
4,4,Tual,ID,2021-01-13 23:34:40,-5.6667,132.7500,84.51,75,100,11.72
8,8,Gizo,SB,2021-01-13 23:34:40,-8.1030,156.8419,85.42,69,87,11.59
12,12,Kudahuvadhoo,MV,2021-01-13 23:34:41,2.6708,72.8944,81.70,75,97,16.67
13,13,Rikitea,PF,2021-01-13 23:34:41,-23.1203,-134.9692,78.15,75,46,12.06
14,14,Alofi,NU,2021-01-13 23:34:41,-19.0595,-169.9187,86.00,74,75,11.50
15,15,San Cristobal,VE,2021-01-13 23:34:41,7.7669,-72.2250,80.60,69,20,5.75
21,21,Nicoya,CR,2021-01-13 23:34:42,10.1483,-85.4520,84.20,51,0,12.66
22,22,Biak,ID,2021-01-13 23:34:42,-0.9131,122.8766,81.36,73,100,1.07
23,23,Mataura,NZ,2021-01-13 23:34:42,-46.1927,168.8643,77.09,44,0,2.46

In [28]:
preferred_cities_df.count()

City_ID       140
City          140
Country       139
Date          140
Lat           140
Lng           140
Max Temp      140
Humidity      140
Cloudiness    140
Wind Speed    140
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0       Carnarvon      AU     77.00 -24.8667  113.6333
4            Tual      ID     84.51  -5.6667  132.7500
8            Gizo      SB     85.42  -8.1030  156.8419
12   Kudahuvadhoo      MV     81.70   2.6708   72.8944
13        Rikitea      PF     78.15 -23.1203 -134.9692
14          Alofi      NU     86.00 -19.0595 -169.9187
15  San Cristobal      VE     80.60   7.7669  -72.2250
21         Nicoya      CR     84.20  10.1483  -85.4520
22           Biak      ID     81.36  -0.9131  122.8766
23        Mataura      NZ     77.09 -46.1927  168.8643

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carnarvon,AU,77.00,-24.8667,113.6333,Hospitality Carnarvon
4,Tual,ID,84.51,-5.6667,132.7500,Grand Vilia Hotel
8,Gizo,SB,85.42,-8.1030,156.8419,Imagination Island
12,Kudahuvadhoo,MV,81.70,2.6708,72.8944,Niyama Private Islands Maldives
13,Rikitea,PF,78.15,-23.1203,-134.9692,Pension Maro'i
14,Alofi,NU,86.00,-19.0595,-169.9187,Taloa Heights
15,San Cristobal,VE,80.60,7.7669,-72.2250,Pirineos
21,Nicoya,CR,84.20,10.1483,-85.4520,Guayacan Real
22,Biak,ID,81.36,-0.9131,122.8766,Penginapan Kim
23,Mataura,NZ,77.09,-46.1927,168.8643,Ellie's Villa

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [53]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]